// DOK
@import "dok/assets/css/main.scss";
// Personal
@import "utils/typography.scss";
@import "utils/mixins.scss";
@import "components/home.scss";
@import "components/index.scss";
@import "components/article.scss";
@import "components/device.scss";


:root {
  --body-color: #cfcfcf;
  --base-color: #000000;
  --action-color: var(--base-color);
  --special-color: var(--base-color);
  --content-max-width: 720px;
}

html {
  font-size: 16px;
  @include media("<sm") {
    font-size: 13px;
  }
}

body {
  ::-moz-selection { background-color: var(--action-color); color: var(--body-color); }
  ::selection { background-color: var(--action-color); color: var(--body-color); }
}

.index__item--sub,
.index:not(.index--featured) .index__link {
  @extend %ts-body;
}

.header {
  margin-bottom: var(--size-md);
}

.index__title {
  margin-bottom: var(--size-lg);
}

.article__content pre {
  margin-bottom: var(--size-sm);
}