// Intro

.intro {
  margin-bottom: var(--size-xxl);
  @extend %container-padding;
  p {
    @extend %ts-body;
    max-width: var(--content-max-width);
  }
  small {
    display: block;
    margin-top: var(--size-sm);
  }
}
