// Index
.index {
  @extend %container-padding;
  & + .index {
    margin-top: var(--size-lg);
  }
}
.index__title {
  @extend %ts-title-0;
  margin-bottom: var(--size-xl);
}
.index__list,
.index__grid {
  &,
  &--sub {
    list-style: none;
  }
}

.index__item {
  margin-bottom: var(--size-xl);
}

// Index list
.index--list {
  .index__item {
    padding-left: var(--size-md);
    position: relative;
    margin-bottom: var(--size-xs);
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      top: 0.1em;
    }
  }
  .index__item--sub {
    padding-left: var(--size-xl);
    position: relative;
    &:before {
      content: "∟";
      position: absolute;
      left: 0;
    }
  }
  .index__tags,
  .index__update {
    @extend %ts-small;
    display: inline-block;
    margin-bottom: var(--size-xxs);
  }
}

// Index tags
.index--tags {
  .index__list {
    display: flex;
    flex-wrap: wrap;
  }
  .index__item:not(:last-child) {
    margin-right: var(--size-sm);
    margin-bottom: var(--size-sm);
  }
}

// Index grid

.index--grid .index__list {
  display: grid;
  grid-column-gap: var(--size-md);
  grid-template-columns: repeat(2, 1fr);
  @include media(">md") {
    grid-template-columns: repeat(3, 1fr);
  }
  .index__item {
    margin-bottom: var(--size-lg);
  }
  img {
    max-width: 100%;
  }
  figcaption {
    @extend %ts-small;
  }
}

.page--content,
.page--tag {
  .index--grid .index__list {
    grid-template-columns: repeat(2, 1fr);
    @include media(">=sm") {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media(">=lg") {
      grid-template-columns: repeat(6, 1fr);
    }
    @include media(">=xxl") {
      grid-template-columns: repeat(9, 1fr);
    }
  }
}


.page--homepage {
  .index--grid .index__list {
    grid-template-columns: repeat(1, 1fr);
    @include media(">=sm") {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card {
  display: block;
  position: relative;
  img,
  .index__color {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--size-sm);
  }
  .index__color {
    background-color: var(--body-color);
    border: 1px solid var(--base-color);
    display: flex;
    align-items: center;
    &:after {
      content: "";
      display: block;
      flex: 1;
      height: 1px;
      position: relative;
      background-color: var(--base-color);
      transform: rotate(-45deg);
    }
  }
  .index__link {
    display: block;
    background-color: transparent;
  }
  .index__title {
    color: var(--base-color);
    @extend %ts-body;
    margin-top: var(--size-xs);
    margin-bottom: 0;
  }
  .tags__link {
    @extend %ts-small;
    margin-bottom: var(--size-xxs);
  }
}
.card--parent {
  grid-column-start: span 3;
  @include media("<sm") {
    grid-column-start: span 2;
  }
}
.card--parentchild {
  grid-column-start: span 2;
}

.index__tags {
  list-style: none;
  margin-bottom: var(--size-xl);
  li {
    display: inline-block;
  }
}

