<div class="index__item card {% if not article['has_parent'] %} card--parent {% elif article['childs'] and article['has_parent'] %} card--parentchild {% endif %}">
  <a class="index__link" href="{{ article['url'] }}">
    {% if article['featured_image'] %}
    <img
      src="medias/{{ article['slug'] }}-{{ article['featured_image'] }}"
      alt="{{ article['featured_desc'] }}"
      class="index__img"
      loading="lazy"
    />
    {% else %}
    <div class="index__color"></div>
    {% endif %}
    <h2 class="index__title">{{ article['title'] }}</h2>
  </a>
  {% if article['tags'] %}
  <span class="index__tags">
    {% for tag in article['tags'] %}
    <a href="tag-{{ tag }}.html" class="tags__link">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
</div>